h2.blog-title ABOUT ME
p Hi ！ 我是 Haley, 由于是我第一个网名, 所以一直使用至今.
p 我是 90 后成员, 目前生活在魔都, 计划长期在这里发展
p 对软件测试开发领域有浓厚兴趣, 如今正在学习Ruby/Rails中.
p 平时多研究 Ruby on Rails, Web 开发等技术. 闲暇之余爱好看书, 旅游, 健身.


h4 近期动态
p 目前在创建一个rails的论坛
p Haley's Blog 刚刚开博, 由于个人原因, 博客完全自主采用 Ruby on Rails 完成.
= image_tag 'weixin.jpg'

p 我对微信是重度使用者, 新浪微博也是经常逛, 微信账号可以在我个别博客里发现!

h4 更多链接
ul
  li
    a href="https://github.com/babyhai" target="_blank" Github
